.search-bar {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  .search-bar input {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 8px;
    width: 250px;
    color: #333;
  }
  
  .search-bar button {
    padding: 8px 12px;
    background-color: #1f2937;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #374151;
  }
  