.app {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  color: #333;
}

input {
  margin: 20px 0;
  padding: 10px;
  font-size: 16px;
  width: 300px;
}

.crypto-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.coin-detail {
  text-align: left;
  margin: auto;
  width: 50%;
}

.back-button {
  margin-bottom: 20px;
  padding: 10px;
  cursor: pointer;
}
